$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  background-image: url('https://i.ytimg.com/vi/JnPFzPdw038/hqdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  color: #fff;
  font-weight: bold;
}

h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

h5 {
  color: #fff;
  font-weight: bold;
}

legend {
  color: #fff;
  font-weight: bold;
}

.box {
  background-color: #add8e6;
  height: 100px;
  margin: 5px;
  text-align: center;
  font-size: 75px;
}

.gameboard {
  display: none;
}

.signup {
  margin-left: 25%;
  margin-right: 25%;
}

.signin {
  margin-left: 25%;
  margin-right: 25%;
}

.messageboard {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.gamesplayed {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
