$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.box {
  background-color: #add8e6;
  height: 100px;
  margin: 5px;
}

h1 {
  text-align: center;
}

.gameboard {
  display: none;
}

.signup {
  margin-left: 25%;
  margin-right: 25%;
}

.signin {
  margin-left: 25%;
  margin-right: 25%;
}

.messageboard {
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.gamesplayed {
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
